*{
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url(bgf.jpg);
    background-size: cover;
    background-position: center;
}
.main img{
    height: 100px;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
    margin-left: 150px ;
}
span{
    color: #ed2939 ;
}
.content{
    position: absolute;
    top: 55%;
    left: 11%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.about-text h2{
    color: white;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 23px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
}
.title h2{
    font-size: 25px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 230px;
    width: 200px;
    padding: 10px 25px;
    background-color: black;
    border-radius: 15px;
    margin: 5px;
    position: relative;
    text-align: center;
}
.card i{
    font-size: 25px;
    display: block;
    text-align: center;
    margin: 10px 0px;
    color:#ed2939;
}
.card h5{
    color: #ed2939;
    font-size: 25px;
    margin-bottom: 15px;
}
.pra li{
    color: white;
    font-size: 13px;
    line-height: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
footer p:nth-child(2){
    color: white;
    font-size: 16px;
    width: 500px;
    text-align: center;
    line-height: 25px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ed2939;
    border-radius: 50%;
    margin: 20px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.5);
    transition: .3s;
}
.end{
    position: absolute;
    color: #ed2939;
    bottom: 35px;
    font-size: 10px;
    letter-spacing: 2px;
}
.end-logo img{
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    margin-top: 30px;
}
